body {
    font-family: Arial, sans-serif;
}

.top-menu {
    overflow: hidden;
    background-color: #333;
}

.top-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-menu a:hover {
    background-color: #ddd;
    color: black;
}

.top-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.logo {
    width: 300px;
    height: auto; 
    display: block;
    cursor: pointer;
}